<!-- Hero Section -->
<section class="hero" id="hero-id" style="background-image: url('/background-image.webp'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 70vh; width: 100%; position: relative;">
  <!-- Removed video background -->
  <!-- One Layer For Anywhere Section -->
  <div class="layer-section" id="layer-section-id">
    <h2>Spring 2025:</h2>
    <h2>Find Your Rythum</h2>
    <div class="layer-buttons">
      <a href="http://localhost:3000/products" class="layer-button">Men's New Arrivals</a>
      <a href="http://localhost:3000/products" class="layer-button">Women's New Arrivals</a>
    </div>
  </div>
</section>

<!-- Made For Life Where Land Ends Section -->
<section class="made-for-life-section">
  <h2>Made For Life Where Land Ends</h2>
  <div class="products1">
    <div
      class="products1-image"
      style="
        background-image: url('vb1939784_SS22_spring_knits-1_360x.webp');
      "
    ></div>
    <div
      class="products1-image"
      style="
        background-image: url('vb1939927_SS22_spring_knits-37_360x.webp');
      "
    ></div>
    <div
      class="products1-image"
      style="background-image: url('gn-outerwear-early-spring_360x.webp')"
    ></div>
    <div
      class="products1-image"
      style="
        background-image: url('collection-header-new-arrivals_360x.webp');
      "
    ></div>
  </div>

  <div class="products-shop">
    <div class="shop-lnk1">
      <p>Shop</p>
      <a href="#" class="shop-links">Men's</a>
    </div>
    <div class="shop-lnk2">
      <p>Shop</p>
      <a href="#" class="shop-links">Women's</a>
    </div>
    <div class="shop-lnk3">
      <p>Shop</p>
      <a href="#" class="shop-links">Outerwear</a>
    </div>
    <div class="shop-lnk4">
      <p>Shop</p>
      <a href="#" class="shop-links">New Arrivals</a>
    </div>
  </div>
</section>

<!-- Bestsellers Section -->
<section class="bestsellers-section">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="Spring-Launch-Collection-Web-Desk_1500x.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="firecrest-homepage-280225_1500x.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="bestseller">
    <h2>Bestsellers</h2>
    <div class="bestsellers-buttons">
      <a href="#" class="bestsellers-button">Shop Men's</a>
      <a href="#" class="bestsellers-button">Shop Women's</a>
    </div>
  </div>
</section>

<!-- Latest Gear Section -->
<section class="made-for-life-section">
  <h2>Latest Gear</h2>
  <div class="products1">
    <div >
      <img src="outerwear089_360x1.webp" class="products1-image">
      <p class="latest-gear-img-p">Just In</p>
      <p>Men's Coho Sweatshirt</p>
      <p>Rs.24,000.00 </p>
    </div>
    <div>
      <img src="outerwear036_360x2.webp" class="products1-image">
      <p class="latest-gear-img-p">Just In</p>
      <p>Women's Yarrel Denim Chore Jacket</p>
      <p>Rs.51,600.00 </p>
    </div>
    <div>
      <img src="outerwear049_360x3.webp" class="products1-image">
      <p class="latest-gear-img-p">Just In</p>
      <p>Men's Hendra Cotton Shirt</p>
      <p>Rs.31,400.00 </p>
    </div>
    <div>
      <img src="insulation27_360x4.webp" class="products1-image">
      <p class="latest-gear-img-p">Just In</p>
      <p>Women's Morva Hemp Top</p>
      <p>Rs.27,700.00 </p>
    </div>
  </div>

  <section class="commitment-section">
    <div style="padding-top: 100px;">
      <h1 class="commitment-section-h1" style="color:black;">Since 2003 we have been committed to a deep belief: to make truly exceptional products in a more <a href="#" style="color:#384972;"><span>responsible and transparent</span></a> way.</h1>
    </div>

    <div class="commitment-section-img">
      <img src="reskinned-lived-and-loved-finisterre-clothing-reuse-resale-vintage-clothing-logo_79d0f809-9ec1-44af-bb1e-6bcad67a0e56_1500x.webp">
      <div class="lived-and-loved">
        <div class="lived-and-loved-p">
          <h3>Lived & Loved</h3>
          <p>Because the most sustainable product is the one you already own</p>
        </div>
        <div style="padding-top: 49.5px;">
          <a href="#" class="layer-button" style="background-color: #e7ddbb;">Discover More</a>
        </div>
      </div>
    </div>
  </section>
